.card {
  padding: 20px;
  float: left;
}

#list-view {
  margin-left: 50px;
  margin-right: 50px;
}

.container {
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
  width: 100%;
}

.category-selector {
  margin-right: 50px;
  margin-left: 5px;
  /* margin-bottom: 50px; */
  position: relative;
}

.category-selector-label {
  margin-right: 50px;
  /* margin-bottom: 50px; */
  position: relative;
  transform: translateX(80vw);
}
