.back {
  margin: 30px;
}

.course {
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 50px;
  background-color: rgb(220, 220, 220);
}

.classes {
  padding-right: 20px;
  padding-left: 20px;
}

.teacher {
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  .course {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .course h4 {
    font-size: 80%;
  }

  .course h3 {
    font-size: 80%;
  }

  .course p {
    font-size: 80%;
  }
}
